*.XGD
*.mode1v3
*.mode2v3
*.ncb
*.opensdf
*.pbxuser
*.perspectivev3
*.sdf
*.suo
*.tmproj
*.vcxproj.user
.DS_Store
ipch/
project.xcworkspace
xcuserdata/
*.aps
*.opt
*.plg
.idea/
*.OpenDB
build/
Build/

xcuserdata/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.a
Documentation

